// #timer {
// 	position: absolute;
// 	top: 0;
// 	margin-top: 33px;
// 	width: 856px;
// 	height: 1px;
// 	background: #e86735;
// 	z-index: 10;
// 	transition: top 0.3s;
// 	span {
// 		display: block;
// 		position: relative;
// 		top: -8px; left: 21px;
// 		width: 65px; height: 17px;
// 		background: url('../../images/actual_hour.png') 0 0 no-repeat;
// 		color: white;
// 		font-size: 14px;
// 		text-align: center;
// 	}
// }

#terminplaner {
	position: relative;
	top: 92px; left: 340px;
	width: 781px; height: 786px;
	background: white;
	font-family: 'unit-light';
	box-shadow: 0 1px 1px 0 rgba(black, 0.4);
	overflow: hidden;
	* { box-sizing: border-box; }
	.header {
		position: relative;
		border-bottom: 1px solid #ebebeb;
		h2 {
			font-family: 'unit-thin';
			margin: 8px 11px 10px;
    		letter-spacing: 0.3px;;
		}
		.control {
			text-align: center;
			margin-bottom: 6px;
			font-size: 1.1em;
			.prev, .next {
				padding: 5px;
				cursor: pointer;
			}
		}
		.month {
			position: absolute;
			bottom: 5px; right: 6px;
			width: 28px; height: 22px;
			background: url('../../images/month.png') 0 0 no-repeat;
			cursor: pointer;
		}
		.slider {
			position: absolute;
			top: -3px; right: 6px;
			width: 7px; height: 7px;
			background: url('../../images/slider.png') 0 0 no-repeat;
			cursor: pointer;
		}
	}
	.table {
		width: 781px; height: 714px;
		overflow: scroll;
		position: relative;
		.event {
			width: 107px;
			border: 1px solid white;
			font-size: 0.75em;
			cursor: move;
			&.drag {
				opacity: 0.5;
			}
			&.q1 { height: 33px; }
			&.q2 { height: 66px; }
			&.q3 { height: 99px; }
			&.q4 { height: 132px; }
			&.past {
				background: #d6ecff;
				.icon {
					background-position: 0 -13px;
				}
			}
			&.present {
				background: #fdd466;
				.icon {
					background-position: 0 0;
				}
			}
			&.future {
				background: #93d7fb;
				.icon {
					background-position: 0 13px;
				}
			}
			&.empty {
				background: none;
				border: 0;
			}
			.hours, .description {
				margin: 1px 0 0 1px;
			}
			.icon {
				position: absolute;
				display: block;
				right: 3px; bottom: 4px;
				opacity: 0.7;
				cursor: pointer;
				background-image: url('../../images/icons-sprite.png');
				background-repeat: no-repeat;
				width: 18px; height: 13px;
				&:hover {
					background-position: 0 -26px;
				}
			}
		}
	}
	table {
		thead {
			tr {
				height: 33px;
			}
			td {
				text-align: center;
				line-height: 33px;
				border-top: 0;
				&.active { background: #f2f2f2 }
				&.over
				&.free {
					color: rgba(black, 0.5);
				}
			}
		}
		tbody {
			tr {
				height: 132px;
				&:nth-child(even) td.active { background: #f2f2f2 }
				&:nth-child(odd) td.active { background: #edecec }
			}
			td {
				vertical-align: top;
			}
			.hour {
    			padding-top: 8px;
				vertical-align: top;
				text-align: center;
			}
		}
		td {
			border: 1px solid #ebebeb;
			min-width: 107px;
			&:first-of-type {
				border-left: 0;
			}
		}
		.hour {
			font-size: 0.9em;
		}
	}
}

.over {
	background: rgba(#fdd466, 0.5) !important;
}
